<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('none')"></head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: navigation"></div>

    <div class="alert alert-success" role="alert" th:if="${message != null}">
        [[${message}]]
    </div>

    <div class="mt-5">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>Order ID</th>
                <th>Customer</th>
                <th>Purchase Price</th>
                <th>Order Time</th>
                <th>Delivery Address</th>
                <th>Payment Method</th>
                <th>Delivery Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orderList}">
                <td>
                    [[${order.id}]]
                </td>
                <td>
                    [[${order.customer.customerFullName}]]
                </td>
                <td>
                    [[${order.productCost}]]
                </td>
                <td>
                    [[${order.orderTime}]]
                </td>
                <td>
                    [[${order.customer.customerFullAddress}]]
                </td>
                <td>
                    [[${order.paymentMethod}]]
                </td>
                <td>
                    <span th:if="${#strings.toString(order.orderStatus)} == 'NEW'" class="badge badge-info"
                          th:text="${order.orderStatus}"></span>
                    <span th:if="${#strings.toString(order.orderStatus)} == 'DELIVERED'" class="badge badge-success"
                          th:text="${order.orderStatus}"></span>
                    <span th:if="${#strings.toString(order.orderStatus)} == 'SHIPPING'" class="badge badge-warning"
                          th:text="${order.orderStatus}"></span>
                    <span th:if="${#strings.toString(order.orderStatus)} == 'PACKAGED'" class="badge badge-secondary"
                          th:text="${order.orderStatus}"></span>
                </td>
                <td>
                    <a type="button" class="btn btn-link btn-sm btn-rounded"
                       th:href="@{'/orders/detail/' + ${order.id}}">
                        View
                    </a>
                    <a type="button" class="btn btn-link btn-sm btn-rounded"
                       th:href="@{'/orders/delete/' + ${order.id}}">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="m-5">
        <ul class="pagination justify-content-center">
            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:href="@{'/orders/page/' + ${currentPage - 1}}">Previous</a>
            </li>

            <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a class="page-link" th:href="@{'/orders/page/' + ${i}}">[[${i}]]</a>
            </li>

            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:href="@{'/orders/page/' + ${currentPage + 1}}">Next</a>
            </li>
        </ul>
    </div>

    <div class="text-center">
        <p>Orders Panel - Copyright &copy; Dawid Korbecki</p>
    </div>
</div>
<script th:src="@{/javascript/logout.js}"></script>
</body>
</html>