<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('none')">
    <title>WebShopApp Customer Panel</title>
</head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: navigation"></div>

    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="row">

                                <div class="col-lg-7">
                                    <h5 class="mb-3"><a th:href="@{/}" class="text-body"><i
                                            class="fas fa-long-arrow-alt-left me-2"></i>BACK</a></h5>
                                    <hr>
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div>
                                            <p class="mb-1"><b>Shopping cart</b></p>
                                            <p class="mb-0" id="totalQuantity">You have [[${totalQuantity}]] items in
                                                your cart</p>
                                        </div>
                                    </div>

                                    <th:block th:each="item, status: ${cartItems}">
                                        <div class="card mb-3" th:id="'row' + ${status.count}">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <img
                                                                    th:src="@{${item.product.imagePath}}"
                                                                    class="img-fluid rounded-3" alt="Shopping item"
                                                                    style="width: 120px;">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h5>[[${item.product.name}]]</h5>
                                                            <!--<p class="small mb-0"></p>-->
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div th:replace="cart/cart_quantity :: quantity_control(${item.quantity}, ${item.product.id})"></div>
                                                        <div style="width: 80px;">
                                                            <h5 class="mb-0 subTotalPrice"
                                                                th:id="'subTotalPrice' + ${item.product.id}">
                                                                [[${item.subTotalPrice}]]</h5>
                                                        </div>
                                                        <a class="fas fa-trash-alt linkRemove"
                                                           th:href="@{'/cart/remove/' + ${item.product.id}}"
                                                           th:rowNumber="${status.count}"
                                                           style="color: #DA0404;"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                                <div class="col-lg-5">

                                    <div class="card text-white rounded-3" th:unless="${#lists.isEmpty(cartItems)}"
                                         style="background-color: #A682FF;">
                                        <div class="card-body">

                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Subtotal</p>
                                                <p class="mb-2" id="subTotalPrice">[[${subTotalPrice}]]</p>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Shipping</p>
                                                <p class="mb-2" id="shippingPrice">[[${shippingPrice}]]</p>
                                            </div>

                                            <div class="d-flex justify-content-between mb-4">
                                                <p class="mb-2">Total Price</p>
                                                <p class="mb-2" id="totalPrice">[[${totalPrice}]]</p>
                                            </div>

                                            <button type="button" class="btn btn-block btn-lg"
                                                    style="background-color: #733AFF;">
                                                <div class="d-flex justify-content-between" style="color: white">
                                                    <!--                                                   <span id="totalPrice">[[${totalPrice}]]</span>-->
                                                    <span>CHECKOUT<i
                                                            class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                </div>
                                            </button>

                                        </div>
                                    </div>

                                    <div th:if="${#lists.isEmpty(cartItems)}">
                                        <h3>You have not chosen any products</h3>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center">
        <p>WebShop Customer Panel - Copyright &copy; Dawid Korbecki</p>
    </div>
</div>
<script type="text/javascript">

    contextPath = "[[@{/}]]";

    csrfHeaderName = "[[${_csrf.headerName}]]";
    csrfValue = "[[${_csrf.token}]]";

</script>
<script type="text/javascript" th:src="@{/javascript/logout.js}"></script>
<script type="text/javascript" th:src="@{/javascript/shopping_cart.js}"></script>
</body>
</html>