<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="content" id="productDetails">
    <div class="form-inline" id="divDetail0">
        <label class="m-3">
            Name:
            <input type="text" class="form-control" name="detailNames" maxlength="64"/>
        </label>
        <label class="m-3">
            Value:
            <input type="text" class="form-control" name="detailNames" maxlength="64"/>
        </label>
    </div>
</div>
</body>
</html>