<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<body>
<div th:fragment="content" class="col-lg-3 text-center">
    <div class="card mb-3"
         style="height: 200px; width: 300px; display: block; margin-left: auto; margin-right: auto">
        <a th:href="@{'/product/' + ${product.alias}}">
            <img th:src="@{${product.imagePath}}" style="width: 150px"/>
        </a>
        <br/>
        <b>[[${product.name}]]</b>
        <div>
            <span>$ [[${product.price}]]</span>
        </div>

    </div>
</div>
</body>
</html>