<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('none')">
    <title>Products in Category</title>
</head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: navigation"></div>

    <div class="carousel-inner py-4">
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <th:block th:each="product : ${productList}">
                        <div class="col-lg-3 text-center">
                            <div class="card mb-3"
                                 style="height: 200px; width: 300px; display: block; margin-left: auto; margin-right: auto">
                                <a th:href="@{'/product/' + ${product.alias}}">
                                    <img th:src="@{${product.imagePath}}" style="width: 150px"/>
                                </a>
                                <br/>
                                <b>[[${product.name}]]</b>
                                <div>
                                    <span>$ [[${product.price}]]</span>
                                </div>

                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>


    <div class="m-5">
        <ul class="pagination justify-content-center">
            <li th:class="${currentProductPage > 1 ? 'page-item' : 'page-item disabled'}">
                <a class="page-link"
                   th:href="@{'/categories/' + ${category.alias} + '/page/' + ${currentProductPage - 1}}">Previous</a>
            </li>

            <li th:class="${currentProductPage != i ? 'page-item': 'page-item active'}"
                th:each="i : ${#numbers.sequence(1, totalProductPages)}">
                <a class="page-link" th:href="@{'/categories/' + ${category.alias} + '/page/' + ${i}}">[[${i}]]</a>
            </li>

            <li th:class="${currentProductPage < totalProductPages ? 'page-item' : 'page-item disabled'}">
                <a class="page-link"
                   th:href="@{'/categories/' + ${category.alias} + '/page/' + ${currentProductPage + 1}}">Next</a>
            </li>
        </ul>
    </div>

    <div class="text-center">
        <p>WebShop Customer Panel - Copyright &copy; Dawid Korbecki</p>
    </div>
</div>
</body>
</html>