<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('none')"></head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: navigation"></div>

    <div class="text-center">
        <h2 class="bold">[[${pageTitle}]]</h2>
    </div>
    <form th:action="@{/categories/save}" method="post" enctype="multipart/form-data"
          style="max-width: 500px; margin: 0 auto" th:object="${category}">
        <input type="hidden" th:field="*{id}"/>
        <div class="border border-5 rounded p-3">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"
                           th:field="*{name}" required minlength="6" maxlength="48"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Alias:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"
                           th:field="*{alias}" required minlength="6" maxlength="48"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Image:</label>
                <div class="col-sm-8">
                    <input type="hidden" th:field="*{image}"/>
                    <input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg" class="mb-2"/>

                    <div class="m-2">
                        <img id="thumbnail" alt="Image preview" class="img-fluid" width="150"
                             th:src="@{${category.ImagePath}}"/>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <label class="col-form-label">Enable the category ? </label>
                <div>
                    <input class="form-check-input" type="checkbox" th:field="*{status}"/>
                </div>
            </div>
            <div class="text-center">
                <div class="m-3">
                    <input type="submit" value="CREATE" class="btn btn-primary"/>
                    <input type="button" value="CANCEL" class="btn btn-warning" id="buttonCancel"/>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    exitURL = "[[@{/categories}]]";
</script>
<script th:src="@{/javascript/logout.js}"></script>
<div th:replace="fragments :: scripts"></div>
</body>
</html>