<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('none')"></head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: navigation"></div>

    <div class="alert alert-success" role="alert" th:if="${message != null}">
        [[${message}]]
    </div>
    <div class="m-3">
        <a th:href="@{/categories/new}" type="submit" class="btn btn-outline-primary" data-mdb-ripple-color="dark">
            Create category</a>
    </div>
    <div>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>ID</th>
                <th>Category Image</th>
                <th>Category Name</th>
                <th>Alias</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categoryList}">
                <td>
                    [[${category.id}]]
                </td>
                <td>
                    <img th:src="@{${category.getImagePath()}}" style="width: 120px" class="img-fluid"/>
                </td>
                <td>
                    [[${category.name}]]
                </td>
                <td>
                    [[${category.alias}]]
                </td>
                <td>
                    <a th:if="${category.status == true}" th:href="@{'/categories/' + ${category.id} + '/status/false'}"
                       class="far fa-check-square fa-2x" style="color: #3333FF"></a>
                    <a th:if="${category.status == false}" th:href="@{'/categories/' + ${category.id} + '/status/true'}"
                       class="far fa-check-square fa-2x" style="color: #D1D1D1"></a>
                </td>
                <td>
                    <a type="button" class="btn btn-link btn-sm btn-rounded"
                       th:href="@{'/categories/edit/' + ${category.id}}">
                        Edit
                    </a>
                    <a type="button" class="btn btn-link btn-sm btn-rounded"
                       th:href="@{'/categories/delete/' + ${category.id}}">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="m-5">
        <ul class="pagination justify-content-center">
            <li th:class="${currentCategoryPage > 1 ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:href="@{'/categories/page/' + ${currentCategoryPage - 1}}">Previous</a>
            </li>

            <li th:class="${currentCategoryPage != i ? 'page-item': 'page-item active'}"
                th:each="i : ${#numbers.sequence(1, totalCategoryPages)}">
                <a class="page-link" th:href="@{'/categories/page/' + ${i}}">[[${i}]]</a>
            </li>

            <li th:class="${currentCategoryPage < totalCategoryPages ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:href="@{'/categories/page/' + ${currentCategoryPage + 1}}">Next</a>
            </li>
        </ul>
    </div>

    <div class="text-center">
        <p>Categories Panel - Copyright &copy; Dawid Korbecki</p>
    </div>
</div>
<script th:src="@{/javascript/logout.js}"></script>
</body>
</html>