<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('none')"></head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: navigation"></div>

    <div class="alert alert-success" role="alert" th:if="${message != null}">
        [[${message}]]
    </div>
    <div class="m-3">
        <a th:href="@{/brands/new}" type="submit" class="btn btn-outline-primary" data-mdb-ripple-color="dark">
            Create brand</a>
    </div>
    <div>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>ID</th>
                <th>Logo</th>
                <th>Brand Name</th>
                <th>Categories</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="brand : ${brandList}">
                <td>
                    [[${brand.id}]]
                </td>
                <td>
                    <img th:src="@{${brand.getLogoPath()}}" style="width: 120px" class="img-fluid"/>
                </td>
                <td>
                    [[${brand.name}]]
                </td>
                <td>
                    <th:block th:each="category: ${brand.categories}">
                        <span class="badge badge-secondary" th:text="${category.name}"></span>
                    </th:block>
                </td>
                <td>
                    <a type="button" class="btn btn-link btn-sm btn-rounded"
                       th:href="@{'/brands/edit/' + ${brand.id}}">
                        Edit
                    </a>
                    <a type="button" class="btn btn-link btn-sm btn-rounded"
                       th:href="@{'/brands/delete/' + ${brand.id}}">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

        <div class="m-5">
            <ul class="pagination justify-content-center">
                <li th:class="${currentBrandPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link" th:href="@{'/brands/page/' + ${currentBrandPage - 1}}">Previous</a>
                </li>

                <li th:class="${currentBrandPage != i ? 'page-item': 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalBrandPages)}">
                    <a class="page-link" th:href="@{'/brands/page/' + ${i}}">[[${i}]]</a>
                </li>

                <li th:class="${currentBrandPage < totalBrandPages ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link" th:href="@{'/brands/page/' + ${currentBrandPage + 1}}">Next</a>
                </li>
            </ul>
        </div>

    <div class="text-center">
        <p>Brands Panel - Copyright &copy; Dawid Korbecki</p>
    </div>
</div>
<script th:src="@{/javascript/logout.js}"></script>
</body>
</html>