<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head th:fragment="page_head(remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, minimal-scale = 1.0">

    <title>[[${pageTitle}]]</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:fragment="navigation">
    <div>
        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutAction">
            <input th:type="submit"/>
        </form>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">WebShop Customer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <div class="navbar-nav">
                    <!--                    <a class="nav-item nav-link" th:href="@{/careers}">Careers</a>
                                        <a class="nav-item nav-link" th:href="@{/payments}">Payments</a>
                                        <a class="nav-item nav-link" th:href="@{/shipping}">Shipping</a>-->
                    <a class="nav-item nav-link" th:href="@{/login}">Login</a>
                    <a class="nav-item nav-link" th:href="@{/register}">Register</a>
                    <!--                    <a class="nav-item nav-link" th:href="@{/contact}">Contact</a>-->
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false"
                               sec:authentication="principal.accountName">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" id="logoutItem">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div th:fragment="search_nav" class="row">
    <div class="col-md">
        <div class="input-group m-3" style="width: 250px">
            <form class="form-inline" th:action="@{/search}" method="get">
                <div class="input-group">
                    <input type="search" class="form-control rounded" name="keyword" th:value="${keyword}"
                           placeholder="Search" aria-label="Search" aria-describedby="search-addon" required/>
                    <input type="submit" class="btn btn-outline-primary" value="Search"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:fragment="scripts">
    <script>
        $(document).ready(function () {
            $("#buttonCancel").on("click", function () {
                window.location = "[[@{/}]]";
            });
        });
    </script>
</div>
</body>
</html>