<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, minimal-scale = 1.0">

    <title>WebShop Admin Panel</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div>
        <h1>WebShop Admin Panel</h1>
    </div>
    <div>
        <p>WebShop Control Panel - Copyright &copy; Dawid Korbecki</p>
    </div>
</div>
</body>
</html>