<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head"></head>
<body>

<div class="container-fluid">

    <div>
        <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 350px auto 0;">
            <div th:if="${param.error}">
                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </div>

            <div>
                <p>
                    <input type="email" name="email" class="form-control" placeholder="Email address" required/>
                </p>

                <p>
                    <input type="password" name="password" class="form-control" placeholder="Password" required/>
                </p>

                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
            </div>
        </form>
    </div>

    <div class="text-center">
        <p>WebShop Login Panel - Copyright &copy; Dawid Korbecki</p>
    </div>

</div>

</body>
</html>