<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, minimal-scale = 1.0">

    <title>WebShop Admin Panel</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">WebShop App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" th:href="@{/users}">Users</a>
                    <a class="nav-item nav-link" th:href="@{/categories}">Categories</a>
                    <a class="nav-item nav-link" th:href="@{/products}">Products</a>
                    <a class="nav-item nav-link" th:href="@{/orders}">Orders</a>
                    <a class="nav-item nav-link" th:href="@{/settings}">Settings</a>
                    <a class="nav-item nav-link" th:href="@{/dashboards}">Dashboards</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="alert alert-success" role="alert" th:if="${message != null}">
        [[${message}]]
    </div>
    <div class="m-3">
        <a th:href="@{/users/new}" type="submit" class="btn btn-outline-primary" data-mdb-ripple-color="dark">
            Create user</a>
    </div>
    <div>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>User ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Roles</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${usersList}">
                <td>
                    [[${user.id}]]
                </td>
                <td>
                    [[${user.email}]]
                </td>
                <td>
                    [[${user.firstName}]]
                </td>
                <td>
                    [[${user.lastName}]]
                </td>
                <td>
                    <span class="badge badge-primary rounded-pill d-inline">[[${user.roles}]]</span>
                </td>
                <td>
                    <a th:if="${user.status == true}" class="far fa-check-square fa-2x" style="color: #3333FF"></a>
                    <a th:if="${user.status == false}" class="far fa-check-square fa-2x" style="color: #D1D1D1"></a>
                </td>
                <td>
                    <a type="button" class="btn btn-link btn-sm btn-rounded" th:href="@{'/users/edit/' + ${user.id}}">
                        Edit
                    </a>
                    <a type="button" class="btn btn-link btn-sm btn-rounded" th:href="@{'/users/delete/' + ${user.id}}">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <p>WebShop Control Panel - Copyright &copy; Dawid Korbecki</p>
    </div>
</div>
</body>
</html>