<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('none')">
    <title>WebShopApp Admin Panel</title>
</head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: navigation"></div>

    <div style="margin: 100px auto 0; display: flex; justify-content: center;">
        <img th:src="@{/images/image_admin_panel.png}" alt="admin_panel_img">
    </div>

</div>
<script th:src="@{/javascript/logout.js}"></script>
</body>
</html>