<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="content" th:remove="tag">
    <div class="row" id="productImages">
        <div>
            <div class="text-center">
                <div>
                    <label>Product image:</label>
                </div>
                <input type="hidden" th:field="*{image}"/>
                <input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg" class="mb-2"/>

                <div class="m-2">
                    <img id="thumbnail" alt="Image preview" class="img-fluid" width="150"
                         th:src="@{${product.ImagePath}}"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>